header {
  background-color: white;
  padding: 20px 30px;
  -webkit-box-shadow: 0px 11px 19px -12px rgba(97, 97, 97, 0.33);
  -moz-box-shadow: 0px 11px 19px -12px rgba(97, 97, 97, 0.33);
  box-shadow: 0px 11px 19px -12px rgba(97, 97, 97, 0.33);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo {
  width: 120px;
  height: 50px;
}

header .container .nav-details {
  display: flex;
  gap: 30px;
}

header .container .nav-details nav a {
  margin: 20px;
  text-decoration: none;
  font-size: 15px;
  color: rgb(38, 38, 38);
}

header .container .nav-details nav {
  display: flex;
}

header .container .nav-details .sub-menu-button {
  margin: 20px;
  position: relative;
  font-size: 15px;
  color: rgb(38, 38, 38);
}
header .container .nav-details .sub-menu-button svg {
  vertical-align: middle;
  display: inline-block;
  color: #e8742c;
}

header .container .nav-details .sub-menu {
  position: absolute;
  top: 60px;
  background-color: rgb(247, 191, 48);
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

header .nav-details .logged-in-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .nav-details .logged-in-user .profile-img {
  width: 50px;
  background-color: white !important;
  border-radius: 100px;
  overflow: hidden;
  padding: 10px;
  height: 50px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: contain !important;
  -webkit-box-shadow: -1px 0px 18px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 18px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 18px -8px rgba(0, 0, 0, 0.75);
  transition: all 0.2s ease-in-out;
}

header .nav-details .logged-in-user .profile-img:hover {
  transform: scale(1.1);
}
