header {
  background-color: lightcyan;
  padding: 20px 30px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo {
  width: 120px;
  height: 50px;
}

header .container .nav-details {
  display: flex;
  gap: 30px;
}

header .container .nav-details nav a {
  margin: 20px;
  text-decoration: none;
}

header .container .nav-details nav {
  display: flex;
}

header .container .nav-details .sub-menu-button {
  margin: 20px;
  position: relative;
}
header .container .nav-details .sub-menu {
  position: absolute;
  top: 60px;
  background-color: rgb(247, 191, 48);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

header .nav-details .logged-in-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .nav-details .logged-in-user .profile-img {
  width: 50px;
  background-color: white !important;
  border-radius: 100px;
  overflow: hidden;
  padding: 10px;
  height: 50px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: contain !important;
}
