.topics-container {
  margin: 20px auto;
}

.topics-container .topics-list {
  display: flex;
  justify-content: start;
  gap: 30px;
}
.topics-container .topics-list a {
  border: none;
  border-radius: 20px;
  padding: 7px 30px;
}

.topics-container .topics-list a::first-letter {
  text-transform: capitalize;
}
